.app {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 1em;
  text-align: center;
  border-radius: 1em;
  background-color: #fff;
}

.divider {
  border: none;
  height: 5px;
  background: linear-gradient(to right, transparent, var(--dark-plum), transparent);
  margin: 40px 0;
}

/* Title */

.plum {
  color: var(--plum);
}

.dark_plum {
  color: var(--dark-plum);
}

.wisteria {
  color: var(--wisteria);
}

/* Mobile */

@media (max-width: 700px) {
  .app {
    width: 100%;
    padding: 1em;
  }
}

/* Loading animation */
.dots::after {
  content: '';
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0%, 20% { content: ''; }
  25% { content: '.'; }
  50% { content: '..'; }
  75%, 100% { content: '...'; }
}

