.app {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 1em;
  text-align: center;
  border-radius: 1em;
  background-color: #fff;
}

.divider {
  border: none;
  height: 5px;
  background: linear-gradient(to right, transparent, #333, transparent);
  margin: 40px 0;
}

/* Mobile */

@media (max-width: 700px) {
  .app {
    width: 100%;
    padding: 1em 0;
  }
}

