:root {
  --dark-grey: #213547;
  --dark-grey-faded: #213547b4;
  --shell: #fffdfc;
  --thistle: #D0C4DF;
  --thistle-faded: #d0c4df4b;
  --plum: #DCABDF;
  --wisteria: #ac68cb;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e7e7e7;
  color: var(--dark-grey);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  max-width: 1200px;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 2px solid var(--wisteria);
  color: var(--wisteria);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--dark-grey-faded);
  background-color: var(--thistle);
  color: var(--dark-grey);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

